<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Babilejo</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css"/>
        <link rel="stylesheet" href="/style.css"></link>

        <script src="../../socket.io/socket.io.js"></script>
        <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
    </head>
    <body>
        <div id="createUserModal" class="modal">
            <form action="/" method="POST" id="accountCreationForm">
                <div class="modal-content">
                    <h4>Welcome to Babilejo!</h4>
                    <p>Please fill in the following information to get started.</p>
                    <div class="row">
                        <div class="col s11">
                            <input id="username" class="validate" style="color: #F1F1F0;" autocomplete="off" required/>
                            <label for="username">Username</label>
                        </div>
                        <div class="col s1">
                            <div class="color-picker"></div>
                            <label for="userColor">Color</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="createAccountButton" class="waves-effect waves-green btn-flat">
                        Sign up
                    </button>
                </div>
            </form>
        </div>
        <div id="settingsModal" class="modal">
            <form action="/" method="POST" id="accountSettingsForm">
                <div class="modal-content">
                    <h4>User Settings:</h4>
                    <div class="row">
                        <div class="col s11">
                            <input id="usernameSetting" class="validate" style="color: #F1F1F0;" autocomplete="off" required/>
                            <label for="usernameSetting">Username</label>
                        </div>
                        <div class="col s1">
                            <div class="color-picker"></div>
                            <label for="userColor">Color</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="saveSettingsButton" class="waves-effect waves-green btn-flat">
                        Save settings
                    </button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col s12" id="main">
                <div class="row">
                    <div class="col s12" id="messages-container">
                        <ul class="collection" id="messages"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12" id="footer">
                        <div id="notify"></div>
                        <form action="/" method="POST" id="chatForm">
                            <div class="input-field col s9">
                                <input id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..." />
                            </div>
                            <div id="buttonContainer" class="col s3">
                                <button id="chatButton" class="btn-floating btn-large waves-effect waves-light">
                                    <i class="small material-icons">chat</i>
                                </button>
                                <button type="button" id="settingsButton" class="btn-floating btn-large waves-effect waves-light">
                                    <i class="small material-icons">settings</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="/frontend.js"></script>
    </body>
</html>