<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Babilejo</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/style.css"></link>

        <script src="../../socket.io/socket.io.js"></script>
        <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>
        <div id="createUserModal" class="modal">
            <form action="/" method="POST" id="accountCreationForm">
                <div class="modal-content">
                    <h4>Welcome to Babilejo!</h4>
                    <p>Please fill in the following information to get started.</p>
                    <div class="col s12">
                        <input id="username" class="validate" autocomplete="off" required/>
                        <label for="username">Username</label>
                    </div>
                    <div class="col s12">
                        <select id="userColor" class="userColor" name="userColor">
                            <option style="color:#F1F1F0" value="F1F1F0" selected>White</option>
                            <option style="color:#FF5B56" value="FF5B56">Red</option>
                            <option style="color:#FF6AC1" value="FF6AC1">Pink</option>
                            <option style="color:#F3F99D" value="F3F99D">Yellow</option>
                            <option style="color:#5AF78E" value="5AF78E">Green</option>
                            <option style="color:#57C7FF" value="57C7FF">Blue</option>
                            <option style="color:#9AEDFE" value="9AEDFE">Cyan</option>
                        </select>
                        <label for="userColor">User Color</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="createAccountButton" class="waves-effect waves-green btn-flat">
                        Sign up
                    </button>
                </div>
            </form>
        </div>
        <div id="settingsModal" class="modal">
            <form action="/" method="POST" id="accountSettingsForm">
                <div class="modal-content">
                    <h4>User Settings:</h4>
                    <div class="col s12">
                        <input id="usernameSetting" class="validate" autocomplete="off" required/>
                        <label for="usernameSetting">Username</label>
                    </div>
                    <div class="col s12">
                        <select id="userColorSetting" class="userColorSetting">
                            <option style="color:#F1F1F0" value="F1F1F0" selected="selected">White</option>
                            <option style="color:#FF5B56" value="FF5B56">Red</option>
                            <option style="color:#FF6AC1" value="FF6AC1">Pink</option>
                            <option style="color:#F3F99D" value="F3F99D">Yellow</option>
                            <option style="color:#5AF78E" value="5AF78E">Green</option>
                            <option style="color:#57C7FF" value="57C7FF">Blue</option>
                            <option style="color:#9AEDFE" value="9AEDFE">Cyan</option>
                        </select>
                        <label for="userColor">User Color</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="saveSettingsButton" class="waves-effect waves-green btn-flat">
                        Save settings
                    </button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col s12" id="main">
                <div class="row">
                    <div class="col s12" id="messages-container">
                        <ul class="collection" id="messages"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12" id="footer">
                        <div id="notify"></div>
                        <form action="/" method="POST" id="chatForm">
                            <div class="input-field col s9">
                                <input id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..." />
                            </div>
                            <div id="buttonContainer" class="col s3">
                                <button id="chatButton" class="btn-floating btn-large waves-effect waves-light">
                                    <i class="small material-icons">chat</i>
                                </button>
                                <button type="button" id="settingsButton" class="btn-floating btn-large waves-effect waves-light">
                                    <i class="small material-icons">settings</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="/frontend.js"></script>
    </body>
</html>